body {
    background-image: url('../img/Background.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.777em;
}

h2 {
    font-family: 'Merienda', cursive;
}

/*navigation*/
.navbackground {
    background-color: #474747;
    color: #f5e2de;
    font-family: 'Merienda', cursive;
}

.homebackground {
    background-color: white;
    min-width: 280px;
    margin-top: 150px;
    padding: 50px 10px;
}

.portbackground {
    background-color: white;
    min-width: 280px;
    margin-top: 200px;
    padding: 50px 0px 0px 0px;
}

.portfolio {
    margin: 0px;
    padding: 20px 10px;
}

.footerbackground {
    background-color: #474747;
    width: 100%;
    margin: 150px 0px 0px 0px;
    padding: 50px 10px;
    text-align: center;
    color: #fcdcd2;
}